.center-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    /* Optional: Add some pixel-perfect scaling */
    -webkit-font-smoothing: none;
    font-size: 24px;
} 